<div class="nav bg-body shadow-sm">
    <nav class="nav nav-underline" aria-label="Secondary navigation">
        <a class="nav-link active" aria-current="page" href="{{ path('b2_titres') }}">Rejets B2</a>
        <a class="nav-link" href="#">
            <span class="badge bg-light text-dark rounded-pill align-text-bottom">{% for titre in titres2 %}{%  if loop.first %}{{ loop.length }}{% endif %}{% endfor %}</span>
        </a>
    </nav>
</div>