.text-purple {
  color: #6f45c1  !important;
}

.btn-purple {
  color: #000;
  background-color: #6f45c1;
  border-color: #6f45c1
}

.bg-purple {
  opacity: 1;
  background-color: #6f45c1;
}

.text-rose {
  color: #dc5ada !important;
}

.btn-rose {
  color: #000;
  background-color: #dc5ada;
  border-color: #dc5ada
}

.bg-rose {
  opacity: 1;
  background-color: #dc5ada;
}

.text-vert-clair {
  color: #66df78 !important;
}

.btn-vert-clair {
  color: #000;
  background-color: #66df78;
  border-color: #66df78
}

.bg-vert-clair {
  bg-opacity: 1;
  background-color: #66df78;
}