<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sifflote!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

        {% endblock %}
        <script src="https://kit.fontawesome.com/7b92b2d2f2.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-light">
    {% set current_path = app.request.get('_route') %}
        {% include "_partials/_nav.html.twig" %}
        {% if app.user and app.user.isVerified == false %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <div class="alert-message">
                    <strong>Votre compte n'est pas activé</strong>, <a href="{{ path('resend_verif') }}">renvoyer le lien d'activation</a>.
                </div>
            </div>
        {% endif %}

        {% include "_partials/_flash.html.twig" %}

        {% block body %}{% endblock %}
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted float-end">Sifflote© 2021-2022</span>
        </div>
    </footer>
    </body>
</html>
